<div class="row">
    <div class="col-md-12 content">
      <h3>
          <%=group.title%>
          <span class="newgroup"><a href="/users/<%=userInfo.userName%>/groups/<%=group.groupId%>/newtopic">+ New Topic</a></span>
      </h3>
        <ul class="nopad">
            <li>
                <%group.topics.forEach(function(topic){%>
                  <%- include('leadertopic', {userInfo: userInfo, topic: topic}); %>
                <%})%>


            </li>

        </ul>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <button class="submit delete">Delete Group</button>
            </div>
            <!-- TODO ^^ delete the group -->
            <div class="col-md-6">
              <a href = "/users/<%=userInfo.userName%>/groups/edit/<%=group.groupId%>"><button class="submit edit">Edit Group</button></a>
              <!-- TODO ^^ edit the group -->
            </div>
          </div>
        </div>

    </div>



</div>
