<div class="row">
    <div class="col-md-12 content">
      <h3>
          <%=group.title%>
          <p class="groupdesc"><%=group.description%></p>
      </h3>
        <ul class="nopad">
            <li>
              <%if(group.topics[0].topicId !==null){%>


                <%group.topics.forEach(function(topic){%>
                  <%- include('leadertopic', {userInfo: userInfo, topic: topic}); %>
                <%})%>
                <%}%>

            </li>

        </ul>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <form method = "post" action = "/users/<%=userInfo.userName%>/groups/delete/<%=group.groupId%>?_method=delete">
              <button type = "submit" class="submit delete">Delete Group</button>
            </form>
            </div>
            <!-- TODO ^^ delete the group -->
            <div class="col-md-6">
              <a href = "/users/<%=userInfo.userName%>/groups/edit/<%=group.groupId%>"><button class="submit edit">Edit Group</button></a>
              <!-- TODO ^^ edit the group -->
            </div>
          </div>
        </div>


        <div class="row">
          <!-- <div class="row mobileonly"> -->
          <div class="col-md-4"></div>
          <div class="col-md-4">

              <a href="/users/<%=userInfo.userName%>/groups/<%=group.groupId%>/newtopic"><button class="submit topic">+ New Topic</button></a>

            </div>
        </div>

    </div>



</div>
