
<div class="comments-wrapper">

  <div class="row nopad">
    <div class="col-md-12 comments nopad leadertopic">

      <a href="/users/<%=userInfo.userName%>/topics/<%=topic.topicId%>">
        <div class="titlecontainer">
          <h3 class="titleclass"><%=topic.title%></h3>
            <!-- TODO ^^ link here to take user to leader topic view page-->
          <span class="userrate"><i><b><%=topic.ratings.length%></b> user(s) have rated</i></span>
          <span class="userrate"><i>Comments: <%=topic.commentCount%></i></span>

          <h4>Average Rating: <%=topic.ratingAverage%></h4>
        </div>

        </a>



    </div>
  </div>

</div>
