<div class="names" id="users">
  <label><%=username%></label><br />
  <!-- ^^name of individual group member goes here -->

  <radiogroup>
<%if(userInfo.editType === "edit"){%>
  <%if(is_leader === true){%>
  <label for="nocheckbox<%=user_id%>" class="pfont checks">
    <input type="radio" id="nocheckbox<%=user_id%>" name="<%=user_id%>" value ="none">None
  </label>

  <label for="ucheckbox<%=user_id%>" class="pfont checks">
    <input type="radio" id="ucheckbox<%=user_id%>" name="<%=user_id%>" value ="user">User
  </label>

  <label for="lcheckbox<%=user_id%>" class="pfont checks" >
    <input type="radio" id="lcheckbox<%=user_id%>" name="<%=user_id%>" value ="leader" checked = "checked">Leader
  </label>

  <%}else if(is_leader !== undefined && is_leader === false){%>

    <label for="nocheckbox<%=user_id%>" class="pfont checks">
      <input type="radio" id="nocheckbox<%=user_id%>" name="<%=user_id%>" value ="none">None
    </label>

    <label for="ucheckbox<%=user_id%>" class="pfont checks" >
      <input type="radio" id="ucheckbox<%=user_id%>" name="<%=user_id%>" value ="user" checked = "checked">User
    </label>

    <label for="lcheckbox<%=user_id%>" class="pfont checks">
      <input type="radio" id="lcheckbox<%=user_id%>" name="<%=user_id%>" value ="leader">Leader
    </label>

  <%}else{%>

    <label for="nocheckbox<%=user_id%>" class="pfont checks">
      <input type="radio" id="nocheckbox<%=user_id%>" name="<%=user_id%>" value ="none">None
    </label>

    <label for="ucheckbox<%=user_id%>" class="pfont checks">
      <input type="radio" id="ucheckbox<%=user_id%>" name="<%=user_id%>" value ="user">User
    </label>

    <label for="lcheckbox<%=user_id%>" class="pfont checks">
      <input type="radio" id="lcheckbox<%=user_id%>" name="<%=user_id%>" value ="leader">Leader
    </label>

  <%}%>

  <%}else{%>

    <label for="nocheckbox<%=user_id%>" class="pfont checks">
      <input type="radio" id="nocheckbox<%=user_id%>" name="<%=user_id%>" value ="none">None
    </label>

    <label for="ucheckbox<%=user_id%>" class="pfont checks">
      <input type="radio" id="ucheckbox<%=user_id%>" name="<%=user_id%>" value ="user">User
    </label>

    <label for="lcheckbox<%=user_id%>" class="pfont checks">
      <input type="radio" id="lcheckbox<%=user_id%>" name="<%=user_id%>" value ="leader">Leader
    </label>

    <%}%>

</radiogroup>


</div>
