<div class="names" id="users">
  <label><%=username%></label><br />
  <!-- ^^name of individual group member goes here -->

  <radiogroup>
<%if(is_leader === true){%>
  <input type="radio" id="nocheckbox<%=user_id%>" name="permissions<%=user_id%>">
<label for="nocheckbox" class="pfont checks">None</label><br />

  <input type="radio" id="ucheckbox<%=user_id%>" name="permissions<%=user_id%>">
<label for="ucheckbox" class="pfont checks">User</label><br />

  <input type="radio" id="lcheckbox<%=user_id%>" name="permissions<%=user_id%>" checked = "checked">
<label for="lcheckbox" class="pfont checks" >Leader</label>

  <%}else if(is_leader === false){%>
    <input type="radio" id="nocheckbox<%=user_id%>" name="permissions<%=user_id%>">
  <label for="nocheckbox" class="pfont checks">None</label><br />

    <input type="radio" id="ucheckbox<%=user_id%>" name="permissions<%=user_id%>" checked = "checked">
  <label for="ucheckbox" class="pfont checks" >User</label><br />

    <input type="radio" id="lcheckbox<%=user_id%>" name="permissions<%=user_id%>">
  <label for="lcheckbox" class="pfont checks">Leader</label>

    <%}else{%>

    <input type="radio" id="nocheckbox<%=user_id%>" name="permissions<%=user_id%>">
  <label for="nocheckbox" class="pfont checks">None</label><br />

    <input type="radio" id="ucheckbox<%=user_id%>" name="permissions<%=user_id%>">
  <label for="ucheckbox" class="pfont checks">User</label><br />

    <input type="radio" id="lcheckbox<%=user_id%>" name="permissions<%=user_id%>">
  <label for="lcheckbox" class="pfont checks">Leader</label>
  <%}%>

</radiogroup>


</div>
