  <div class="comments-wrapper">

    <div class="row nopad">
      <div class="col-md-12 comments nopad">
        <%if(userInfo.editType === "edit"){%>
          <form method = 'post' action = '/users/<%=userInfo.username%>/groups/edit/<%=userInfo.groupId%>'>
        <%}else{%>
        <form method = 'post' action = '/users/<%=userInfo.username%>/groups/new'>
        <%}%>
          <input type = "text" name = "userId" value = "<%=userInfo.userId%>" style = "display: none;"/>

          <%if(userInfo.editType === 'edit'){%>
            <label class="pfont">Group Name</label><br />
            <input type="text" value = '<%=userInfo.groupTitle%>' class="fullsize" name = "title">

            <label class="pfont">Description</label><br />
            <input type="text" value = '<%=userInfo.groupDescription%>' class="fullsize" name = "description">

            <%}else{%>
              <label class="pfont">Group Name</label><br />
              <input type="text" class="fullsize" name = "title">

              <label class="pfont">Description</label><br />
              <input type="text" class="fullsize" name = "description">
              <%}%>


          <div class="names" id="allow">
            <label class="pfont">Who can add and remove topics in this group?</label><br />
            <!-- ^^name of individual group member goes here -->

              <radiogroup>

              <%if(userInfo.editType === 'edit' && !userInfo.leaderEditableOnly){%>
                <input type="radio" id="nocheckbox" name="permissions" value="leader">
                <label for="nocheckbox" class="pfont checks">Leaders</label><br />

                <input type="radio" id="ucheckbox" name="permissions" checked="checked" value = "user">
                <label for="ucheckbox" class="pfont checks">Users</label><br />
                <%}else{%>
                  <input type="radio" id="nocheckbox" name="permissions" value="leader" checked="checked">
                  <label for="nocheckbox" class="pfont checks">Leaders</label><br />

                  <input type="radio" id="ucheckbox" name="permissions" value = "user">
                  <label for="ucheckbox" class="pfont checks">Users</label><br />
                  <%}%>

            </radiogroup>


          </div>


      </div>
    </div>


    <div class="row nopad">
      <div class="col-md-12 comments nopad">

          <label>
            Select Your Group
            <h5>Select the permissions for your group members:<br />
              <b><i>None</i></b>  (they are not part of your group)<br />
              <b><i>User</i></b>  (user accessibilities)<br />
              <b><i>Leader</i></b>  (give them admin permissions)</h5>
          </label><br />
          <%userList.forEach(function(user){%>
            <%- include('nameboxes', user); %>
          <%})%>



      </div>
    </div>

  </div>

  <div class="row nopad">
    <div class="col-md-4"></div>
    <div class="col-md-4 nopad">
      <button type = "submit" class="submit nopad">
        <%if(userInfo.editType === "edit"){%>
          Update
        <%}else{%>
          Create
        <%}%>   
      </button>
      <!-- TODO ^^ validate the form -->
      </form>
    </div>
  </div>
