  <div class="comments-wrapper">

    <div class="row nopad">

        <div class="col-md-12 comments nopad">
          <p><%=topicDescription%></p>
        </div>

    </div>

    <div class="row nopad">
      <div class="col-md-12 comments nopad">

        <div class="names">
          <%if(myRating === null && myComment === null){%>
            <form method = "post" action = "/users/<%=username%>/topics/<%=topicId%>">
          <%}else{%>
            <form method = "post" action = "/users/<%=username%>/topics/edit/<%=topicId%>">
          <%}%>

    <input name = "userId" style = "display: none" value = "<%=userId%>">
          <radiogroup>

            <label for="nocheckbox" class="pfont checks">Unrated</label>
            <input type="radio" id="nocheckbox" name="rating" value=null checked="checked"><br />

        </radiogroup>

      </div><br />

      <div id="rate">
        <p id="select">Select the number that corresponds to your understanding of this topic:<br />
           <b>0</b> is the lowest, <b>10</b> is the highest level of understanding.</p>

        <radiogroup>

          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="0"
            <%if(myRating === 0){%>
              checked = "checked"
            <%}%>><br />
            <p>0</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="1"
            <%if(myRating === 1){%>
              checked = "checked"
            <%}%>>><br />
            <p>1</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="2"

           <%if(myRating === 2){%>
             checked = "checked"
           <%}%>>><br />
            <p>2</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="3"

           <%if(myRating === 3){%>
             checked = "checked"
           <%}%>>><br />
            <p>3</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="4"
            <%if(myRating === 4){%>
              checked = "checked"
            <%}%>>><br />
            <p>4</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="5"
            <%if(myRating === 5){%>
              checked = "checked"
            <%}%>>><br />
            <p>5</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="6"
            <%if(myRating === 6){%>
              checked = "checked"
            <%}%>>><br />
            <p>6</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="7"
            <%if(myRating === 7){%>
              checked = "checked"
            <%}%>>><br />
            <p>7</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="8"
            <%if(myRating === 8){%>
              checked = "checked"
            <%}%>>><br />
            <p>8</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="9"
            <%if(myRating === 9){%>
              checked = "checked"
            <%}%>>><br />
            <p>9</p>
          </div>
          <div class="col-md-1">
            <input type="radio" class="nums" name="rating" value="10"
            <%if(myRating === 10){%>
              checked = "checked"
            <%}%>>><br />
            <p>10</p>
          </div>

        </radiogroup>

      </div>
    </div>

    <div class="row nopad">
      <div class="col-md-12 comments nopad">

          <label>Comment</label><br />
          <%if(myComment !== null){%>
            <input type="text" name = "comment" value = "<%=myComment%>">
          <%}else{%>
          <input type="text" name = "comment" placeholder="(Optional)">
          <%}%>
          <p id="alert"><b><i>** Your name will be visible to your Group Leaders only if you leave a comment **</i></b></p>

      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button type = "submit" class="submit">
      <%if(myRating === null && myComment === null){%>
        Submit
      <%}else{%>
      Update
      <%}%>
    </button>
    </form>
    <!-- TODO ^^ validate the form -->
  </div>
</div>
