  <div class="comments-wrapper">

    <div class="row nopad">

        <div class="col-md-12 comments nopad">
          <h4>Overall Rating: <%=avgRating%></h4>
          <h3 id="total"><b>Total number of Users who have rated this topic: <span><%=ratings.length%></span></b><br /></h3>
          <p><%=topicDescription%></p>

        </div>

    </div>

    <div class="row nopad">
      <div class="col-md-12 comments nopad">

        <h4>User Comments</h4>

          <div class="row nopad">
            <div class="col-md-12 comments nopad">

                <ul class="comment-list nopad">
                  <!-- TODO populate with actual comments -->
                  <%ratings.forEach(function(rating){%>
                    <%if(rating.comment !== null){%>
                      <li><%=rating.comment%>
                          <span>- <%=rating.commentBy%></span></li>
                    <%}%>
                  <%})%>
                  </ul>

            </div>
          </div>
        </div>

  </div>
</div>

<div class="row nopad">
  <div class="col-md-4 nopad"></div>
  <div class="col-md-4 nopad">
    <button class="submit deletetopic nopad">Update</button>
    <!-- TODO ^^ update the topic -->
  </div>
</div>
