<div class="row">
  <div class="col-md-12 content">
    <h3><%=group.title%>
      <p class="groupdesc"><%=group.description%></p>
      <%if(!group.leaderEditableOnly){%>

    <%}%>
</h3>

      <ul class="nopad">
        <li>
          <%group.topics.forEach(function(topic){%>
           <%- include('usertopic', {userInfo: userInfo, topic: topic}); %>
           <%})%>
         </li>

       </ul>




               <div class="row">
                 <div class="col-md-4"></div>
                 <div class="col-md-4">

                     <a href="/users/<%=userInfo.userName%>/groups/<%=group.groupId%>/newtopic"><button class="submit topic">+ New Topic</button></a>
                   </div>
               </div>




  </div>
</div>
