<div class="row">
  <div class="col-md-12 content">
    <h3><%=group.title%>
      <p class="groupdesc"><%=group.description%></p>

</h3>

      <ul class="nopad">
        <li>

          <%group.topics.forEach(function(topic){%>
            <%if(topic.topicId !== null){%>
           <%- include('usertopic', {userInfo: userInfo, topic: topic}); %>
           <%}else{%>
             There are no topics for this group
           <%}%>
           <%})%>

         </li>

       </ul>




               <div class="row">
                 <%if(!group.leaderEditableOnly){%>
                   <a href="/users/<%=userInfo.userName%>/groups/<%=group.groupId%>/newtopic"><button class="submit topic">+ New Topic</button></a>

               <%}%>

               </div>




  </div>
</div>
