
  <div class="comments-wrapper">

    <div class="row nopad">
        <div class="col-md-12 comments nopad usertopic">

          <a href="/users/<%=userInfo.userName%>/topics/<%=topic.topicId%>" id="ratetitle">
          <div class="titlecontainer">
            <%if(topic.topicId !== null){%>
              <h3 class="titleclass"><%=topic.title%></h3>
                <!-- TODO ^^ link here to take user to user topic view page aka rate.ejs-->
                <%if(topic.myRating !== null){%>
                <span class="yourrating"><i>Your rating: <%=topic.myRating%><b></b></i></span>
                <%}else{%>
                <span class="yourrating"><i>Rate this topic</i></span>
                <%}%>

            <%}else{%>
              <h3 class="titleclass">There are no topics for this group</h3>
              <%}%>

              <p><%=topic.description%></p>

            </div>

          </a>

        </div>

    </div>

  </div>
