<div class="row">
  <div class="col-md-12 content">
    <h3><%=group.title%>
      <p class="groupdesc"><%=group.description%></p>

</h3>

      <ul class="nopad">
        <li>
          <%if(group.topics.length >0){%>
          <%group.topics.forEach(function(topic){%>
           <%- include('usertopic', {userInfo: userInfo, topic: topic}); %>
           <%})%>
           <%}%>
         </li>

       </ul>




              

                 <%if(!group.leaderEditableOnly){%>
                <div class="row">
                   <div class="col-md-4"></div>
                   <div class="col-md-4">
                     <a href="/users/<%=userInfo.userName%>/groups/<%=group.groupId%>/newtopic"><button class="submit topic">+ New Topic</button></a>
                   </div>
                </div>
               <%}%>






  </div>
</div>
